<div class="dropdown">
  <input type="hidden" [(value)]="value" name="{{name}}">
  <input type="text"
    class="dropdown__text"
    value="{{label}}"
    placeholder="{{placeholder}}"
    (click)="optionsVisibility = !optionsVisibility">
  <ul class="dropdown__list" [hidden]="!optionsVisibility">
    <li *ngFor="let option of options; trackBy: $index"
      class="dropdown__item"
      [class.dropdown__item--selected]="isSelected(option)"
      (click)="select(option)" frRipple>
      {{option.label}}
    </li>
  </ul>
</div>
