<nav class="fr-navbar">
  <ul class="fr-navbar__items">
    <li *ngFor="let logo of logos" class="fr-navbar__logo">
      <a class="fr-navbar__label" routerLink="{{logo.link}}">
        {{logo.title}}
      </a>
    </li>
    <li *ngFor="let item of items; let i = index"
      class="fr-navbar__item"
      routerLinkActive="fr-navbar__item--active">
      <a class="fr-navbar__label" routerLink="{{item.link}}">
        {{item.title}}
      </a>
      <ul class="fr-navbar__menu">
        <li *ngFor="let menu of item.menus" class="fr-navbar__menu-item">
          <a class="fr-navbar__label" routerLink="{{menu.link}}">
            {{menu.title}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ng-content></ng-content>
</nav>
