<div class="fr-side-nav">
  <div class="fr-side-nav__menu" [@navState]="navState">
    <div class="fr-side-nav__menu-group"
      *ngFor="let group of itemGroups; let i = index">
      <div class="fr-side-nav__menu-title"
        [class.fr-side-nav__menu-title--collapsible]="group.collapsible"
        (click)="toggleMenu(i)">
        <span>
          {{group.title}}
        </span>
        <span class="fr-side-nav__menu-toggle-btn"
          *ngIf="group.collapsible"
          [class.fr-side-nav__menu-toggle-btn--close]="menuState[i] === 'close'"
          [class.fr-side-nav__menu-toggle-btn--open]="menuState[i] === 'open'">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M 17.719 21.534 L 8 11.983 L 17.672 2.5" style="fill: none; stroke: rgba(0, 0, 0, 0.560784); stroke-width: 5;" transform="matrix(-1, 0, 0, -1, 25.719, 24.034)"/>
            <path d="M 24.407 18.581 C 24.407 18.581 24.407 18.581 24.407 18.581 Z" style="fill: none; stroke: black;"/>
          </svg>
        </span>
      </div>
      <ul class="fr-side-nav__menu-list" [@menuState]="menuState[i]">
        <li class="fr-side-nav__menu-item"
          *ngFor="let item of group.items; let i = index">
          <a class="fr-side-nav__menu-link"
            routerLinkActive="fr-side-nav__menu-link--active"
            routerLink="{{item.link}}"
            (click)="toggleVisibility()">{{item.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="fr-side-nav__backdrop" (click)="toggleVisibility()" [@backdropState]="backdropState"></div>
</div>
