<div class="fr-input-text">
  <label class="fr-input-text__label"
    [class.fr-input-text__label--placeholder]="input.labelState === 'placeholder'"
    [class.fr-input-text__label--label]="input.labelState === 'label'"
    [class.fr-input-text__label--label-on-focus]="input.labelState === 'labelOnFocus'">
    {{placeholder}}
  </label>
  <ng-content selector="input, textarea"></ng-content>
  <span *ngIf="maxLength !== -1"
    class="fr-input-text__count"
    [class.fr-input-text__count--error]="input.valueLength > maxLength">{{input.valueLength}}/{{maxLength}}</span>
</div>
