<div class="fr-data-table__wrapper">
  <div class="fr-data-table__header">
    <span class="fr-data-table__header-title">
      {{title}}
    </span>
    <span class="fr-data-table__header-buttons"
      [hidden]="!countCheckedRows()">
      <a class="fr-data-table__header-btn" (click)="updateRowAction('edit')">
        <span class="fr-data-table__icon">
          <!-- pencil -->
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
            <g transform="matrix(0.606092, 0.606092, -0.651984, 0.651984, 14.617661, -3.546612)">
            <rect x="7" y="5" width="7" height="16" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <rect x="7" y="2" width="7" height="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <path d="M -10.5 -25.86 L -7 -21 L -14 -21 L -10.5 -25.86 Z" transform="matrix(-1, 0, 0, -1, 0, 0)" style="fill: rgba(0, 0, 0, 0.560784);" bx:shape="triangle -14 -25.86 7 4.86 0.5 0 1@8bac0b8a"/>
            </g>
          </svg>
        </span>
      </a>
      <a class="fr-data-table__header-btn" (click)="updateRowAction('delete')">
        <span class="fr-data-table__icon">
          <!-- trash -->
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g transform="matrix(0.882353, 0, 0, 0.818182, 7.843235, 6.074725)">
            <rect x="-2.789" width="15" height="18" y="0.242" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <rect x="0.211" width="1" height="13" rx="0.337" ry="0.337" style="fill: rgb(255, 255, 255);" y="2.242"/>
            <rect x="-3.789" width="17" height="2" style="fill: rgba(0, 0, 0, 0.560784);" y="-1.758"/>
            <rect x="0.211" y="-3.758" width="9" height="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <rect x="1.211" y="-2.758" width="7" height="1" style="fill: rgb(255, 255, 255);"/>
            <rect x="4.211" width="1" height="13" rx="0.337" ry="0.337" style="fill: rgb(255, 255, 255);" y="2.242"/>
            <rect x="8.211" width="1" height="13" rx="0.337" ry="0.337" style="fill: rgb(255, 255, 255);" y="2.242"/>
            </g>
          </svg>
        </span>
      </a>
      <a class="fr-data-table__header-btn" (click)="toggleOtherActionList()" [hidden]="!headerComponent.otherActions.length">
        <span class="fr-data-table__icon">
          <!-- dots -->
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="12" cy="5" rx="2" ry="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <ellipse cx="12" cy="12" rx="2" ry="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <ellipse cx="12" cy="19" rx="2" ry="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
          </svg>
        </span>
      </a>
      <span class="fr-data-table__other-actions">
        <ul class="fr-data-table__other-action-list" [@actionListState]="actionListState">
          <li *ngFor="let action of headerComponent.otherActions; let i = index; trackBy index" class="fr-data-table__other-action-item" (click)="updateRowAction(action.key, true)">
            {{action.label}}
          </li>
        </ul>
      </span>
    </span>
  </div>
  <table class="fr-data-table">
    <colgroup *ngFor="let column of columns; trackBy: index"
         class="fr-data-table__column">
    </colgroup>
    <thead class="fr-data-table__thead">
      <tr class="fr-data-table__thead-row">
        <td class="fr-data-table__thead-checkbox" [hidden]="!selectable">
          <fr-checkbox [(ngModel)]="checkAllFlag" (change)="checkAll()"></fr-checkbox>
        </td>
        <th *ngFor="let column of columns; let i = index; trackBy: index"
          class="fr-data-table__thead-column"
          [class.fr-data-table__thead-column--first]="i === 0"
          [class.fr-data-table__thead-column--string]="column.type === 'string'"
          [class.fr-data-table__thead-column--number]="column.type === 'number'">
          {{column.name}}
        </th>
      </tr>
    </thead>
    <tbody class="fr-data-table__tbody">
      <tr *ngFor="let row of rows; let i = index; trackBy: index"
           class="fr-data-table__tbody-row">
        <td class="fr-data-table__tbody-checkbox" [hidden]="!selectable">
          <fr-checkbox [(ngModel)]="checkedRowIndices[i]"></fr-checkbox>
        </td>
        <td *ngFor="let column of columns; let i = index; trackBy: index"
           class="fr-data-table__tbody-cell"
           [class.fr-data-table__tbody-cell--first]="i === 0"
           [class.fr-data-table__tbody-cell--string]="columns[i].type === 'string'"
           [class.fr-data-table__tbody-cell--number]="columns[i].type === 'number'">
          <span class="fr-data-table__tbody-value">{{row[column.key]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="fr-data-table__footer">
    <span class="fr-data-table__footer-rows-info" [hidden]="!paginationInfo.page">
      Page: {{paginationInfo.page}}
    </span>
    <span class="fr-data-table__footer-select-label" [hidden]="!paginationInfo.rowsPerPageValues">
      Rows per page :
    </span>
    <span class="fr-data-table__footer-select" [hidden]="!paginationInfo.rowsPerPageValues">
      <fr-select [(ngModel)]="rowsPerPage" (ngModelChange)="paginationAction('changeRowsValue', rowsPerPage.value)">
        <fr-option *ngFor="let option of paginationInfo.rowsPerPageValues" [value]="option" [label]="option"></fr-option>
      </fr-select>
    </span>
    <a class="fr-data-table__footer-left-arrow" (click)="paginationAction('showPreviousPage')">
      <!-- chevron left -->
      <span class="fr-data-table__icon--small">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M 17.719 2.5 L 8 12.051 L 17.672 21.534" style="fill: none; stroke: rgba(0, 0, 0, 0.560784); stroke-width: 5;"/>
          <path d="M 24.407 18.581 C 24.407 18.581 24.407 18.581 24.407 18.581 Z" style="fill: none; stroke: black;"/>
        </svg>
      </span>
    </a>
    <a class="fr-data-table__footer-right-arrow" (click)="paginationAction('showNextPage')">
      <!-- chevron right -->
      <span class="fr-data-table__icon--smap">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M 17.719 21.534 L 8 11.983 L 17.672 2.5" style="fill: none; stroke: rgba(0, 0, 0, 0.560784); stroke-width: 5;" transform="matrix(-1, 0, 0, -1, 25.719, 24.034)"/>
          <path d="M 24.407 18.581 C 24.407 18.581 24.407 18.581 24.407 18.581 Z" style="fill: none; stroke: black;"/>
        </svg>
      </span>
    </a>
  </div>
</div>
