$base03:     #000000; // Black (dark)
$base02:     #111111; // Black (light)
$base01:     #222222; // Dark Gray 1
$base00:     #333333; // Dark Gray 2
$base0:      #CCCCCC; // Light Gray 1
$base1:      #EEEEEE; // Light Gray 2
$base2:      #EEE8D5; // Off White
$base3:      #FFFFFF; // White

$yellow:     'yellow';
$orange:     'orange';
$red:        'red';
$magenta:    'magenta';
$violet:     'violet';
$blue:       'blue';
$cyan:       'cyan';
$green:      'green';

$white:      'white';
$black:      'black';
$gray:       'gray';
$light-gray: 'light-gray';

$error:      'error-color';

