$base03:     #1C1C1C; // Black (dark)
$base02:     #434343; // Black (light)
$base01:     #656765; // Dark Gray 1
$base00:     #787D7B; // Dark Gray 2
$base0:      #787878; // Light Gray 1
$base1:      #91989F; // Light Gray 2
$base2:      #FCFAF2; // Off White
$base3:      #FFFFFB; // White

$yellow:     #F1B224;
$orange:     #F75C2F;
$red:        #D04B63;
$magenta:    #D0104C;
$violet:     #352838;
$blue:       #4E4F97;
$cyan:       #B4A582;
$green:      #78BB5C;

$white:      #FFFFFF;
$black:      #000000;
$gray:       #828282;
$light-gray: #BDC0BA;

$error:      #F75C2F;

// EXTRA COLORS
$base:       #352838;
$dark-gray:  #787878;
$pink:       #F989A1;
$dark-green: #615F28;
$purple:     #352838;


$primary: #352838;
$primary-dark: #100012;
$primary-light: #5f5062;

$secondary: #d04b63;
$secondary-dark: #9a1139;
$secondary-light: #ff7d90;

$text-on-primary: #fcfaf2;
$text-on-secondary: #fcfaf2;
