.fr-checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  @media all and (max-width: 768px) {
    display: flex;
    margin: 20px 0;
  }
  &--disabled {
    cursor: default;
    & .fr-checkbox__square {
      border: 2px solid $gray;
    }
    & .fr-checkbox__background--checked {
      background: $gray;
    }
  }

  &-box-container {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 8px;
    position: relative;
  }

  &__square {
    display: inline-block;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 2px;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    transition-property: background;
    transition-duration: 0.3s;
    &--checked {
      color: $white;
      // background: $magenta;
      border: 2px solid $secondary;
    }
    &--focused {
      border-color: $secondary-light;
    }
  }
  &__background {
    display: inline-flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    &--checked {
      background: $secondary;
    }
  }
  &-ripple {
    position: absolute;
    top: -14px;
    left: -14px;
    right: -14px;
    bottom: -14px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $secondary-light;
    opacity: 0.3;
    border-radius: 50%;
    animation: checkbox-ripple 0.8s ease-out;
    transform: scale(0);
  }
  &__input {
    // display: none;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
  }
  &-checkmark {
    width: 100%;
    height: 100%;
    &-path {
      stroke-width: 2.3px;
      stroke: transparent;
      stroke-dasharray: 0;
      stroke-dashoffset: -31;
      transition-property: stroke-dashoffset;
      transition-duration: 0.36s;
    }
    &--on > &-path {
      stroke: $white;
      stroke-dasharray: 31;
      stroke-dashoffset: 0;
    }
  }
  &-label-text {
    &--disabled {
      color: $gray;
      cursor: default;
    }
  }
}

@keyframes checkbox-ripple {
  from {
    opacity: 1;
  }
  40% {
    transform: scale(1);
    opacity: 0.2;
  }
  90% {
    transform: scale(1);
    opacity: 0.05;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
