.fr-date-picker {
  position: relative;
  display: inline-block;

  &__body {
    opacity: 0;
    transform-origin: 0 0;
    position: absolute;
    z-index: 100;
    border: 1px solid $light-gray;
    background: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    &-header {
      line-height: 25px;
      background: $blue;
      color: $white;

      &-year {
        padding: 10px 10px 0 10px;
        font-size: 14px;
      }
      &-date {
        padding: 10px 20px;
        font-size: 26px;
        font-weight: bold;
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__table {
    width: 320px;
    margin: 5px;
    border-spacing: 0;
    text-align: center;
    background: $white;
    table-layout: fixed;
  }

  &__input {
    position: relative;
  }

  &__input-text {
    background: transparent;
    padding: 3px 0;
    outline: 0;
    height: 30px;
    font-size: 12pt;
    border: none;
    border-bottom: 1px solid $gray;
    border-radius: 0;
    cursor: pointer;

    &--disabled {
      color: $gray;
      border-bottom: 1px dotted $gray;
    }
  }

  &__toggle-button {
    outline: none;
    position: absolute;
    top: 6px;
    right: 3px;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__day {
    font-size: 11px;
    color: $gray;
    &--sun {
      color: $gray;
    }
    &--sat {
      color: $gray;
    }
  }

  &__date, &__arrow {
    border: none;
    width: 43px;
    height: 43px;
    cursor: pointer;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 50%;

    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &--today {
      color: $magenta;
      border: 1px solid $magenta;
    }

    &--sunday {
    }

    &--saturday {
    }

    &--selected {
      color: $white;
      background: $magenta;
      border-radius: 50%;
    }

    &--outofmonth {
      color: $gray;
    }

    &:hover {
      color: $white;
      background: lighten($magenta, 20%);
      border-radius: 50%;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__button--primary, &__button--secondary {
    color: $blue;
  }

  &__ok-button {
    color: $magenta;
  }
}

.fr-triangle {
  &--left {
    margin-right: 20px;
    height: 0;
    border: 6px solid transparent;
    border-right: 6px solid $gray;
  }
  &--right {
    margin-left: 20px;
    height: 0;
    border: 6px solid transparent;
    border-left: 6px solid $gray;
  }
}
