.fr-grid {
  display: flex;
  &__item {
    &--1 {
      width: 8.33333%;
    }
    &--2 {
      width: 16.66667%;
    }
    &--3 {
      width: 25%;
    }
    &--4 {
      width: 33.33333%;
    }
    &--5 {
      width: 41.66667%;
    }
    &--6 {
      width: 50%;
    }
    &--7 {
      width: 58.33333%;
    }
    &--8 {
      width: 66.66667%;
    }
    &--9 {
      width: 75%;
    }
    &--10 {
      width: 83.33333%;
    }
    &--11 {
      width: 91.66667%;
    }
    &--12 {
      width: 100%;
    }
  }
}

