.fr-input-text-container {
  display: block;
}
.fr-input-text {
  & > input::placeholder {
    opacity: 0;
  }
  & > textarea::placeholder {
    opacity: 0;
  }

  &__count {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 14px;
    color: $light-gray;

    &--error {
      color: $error;
    }
  }
}
textarea.fr-input-text__form {
  height: 60px;
}
