.fr-input-text {
  & > input::placeholder {
    opacity: 0;
  }
  & > textarea::placeholder {
    opacity: 0;
  }

  &__count {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #CCCCCC;

    &--error {
      color: #FF5722;
    }
  }
}
textarea.fr-input-text__form {
  height: 60px;
}
