.fr-navbar {
  width: 100%;
  &__items {
    margin-top: 0;
    margin-bottom: 15px;
    list-style: none;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #A1A1A1;
    border-bottom: 1px solid #A1A1A1;
  }

  &__logo {
    height: 27px;
    margin: 0;
    margin-left: -40px;
    padding: 7px 12px;
    font-weight: bold;
    text-align: center;
  }

  &__item {
    height: 27px;
    margin: 0;
    padding: 7px 12px;
    text-align: center;
    border-left: 1px solid #A1A1A1;

    &:last-child {
      border-right: 1px solid #A1A1A1;
    }

    &:hover {
    }

    &--active {
      border-bottom: 2px solid #DC322F;
      &:hover {
      }

      > a {
        color: #DC322F;
      }
    }

    > a {
      color: $base00;
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }
    }
  }
}
