.fr-spinner {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;

  & > svg {
    animation: spin 1.3s linear infinite;
  }
  &__arc {
      stroke-dashoffset: 1000;
      stroke-dasharray: 1000;
      animation: expansion 3s linear infinite;
      stroke-width: 12%;
      stroke: $yellow;
  }
}
@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
@keyframes expansion {
  0% { stroke-dashoffset: 450; }
  50% { stroke-dashoffset: 980; }
  100% { stroke-dashoffset: 450; }
}
