.fr-radio-group {
  margin: 20px 0;
  &__input-radio {
    display: none;
  }

  &__label {
    padding: 10px 10px;
    color: $base02;
    border: 1px solid #A1A1A1;
    cursor: pointer;
    transition-property: background, border;
    transition-duration: 0.5s;

    @media all and (max-width: 768px) {
      display: block;
    }

    &:hover {
      background: #ECAECA;
      border: 1px solid #ECAECA;
      color: #FFFFFF;
    }

    &--on {
      background: $magenta;
      border: 1px solid $magenta;
      color: #FFFFFF;
      &:hover {
        background: $magenta;
        border: 1px solid $magenta;
        color: #FFFFFF;
      }
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      @media all and (max-width: 768px) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: none;
      @media all and (max-width: 768px) {
        border-top: none;
        border-left: 1px solid #A1A1A1;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-left: none;
      @media all and (max-width: 768px) {
        border-top: none;
        border-left: 1px solid #A1A1A1;
      }
    }
  }
}
