.fr-radio {
  &-container {
    position: relative;
    display: inline-flex;
  }

  &-outer-circle {
    display: inline-block;
    background: transparent;
    padding: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 50%;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    &--checked {
      border-color: $secondary;
    }
    &--disabled {
      border: 2px solid $gray;
      cursor: default;
    }
    &--focused {
      border-color: $secondary-light;
    }
  }

  &-inner-circle {
    position: absolute;
    display: inline-block;
    background: transparent;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition-property: background, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transform: scale(0);
    &--checked {
      background: $secondary;
      transform: none;
    }
    &--disabled {
      background: $gray;
    }
  }

  &-ripple {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.3;
    background: $secondary-light;
    transform: scale(0);
    animation: radio-ripple 0.8s ease-out;
  }

  &-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    @media all and (max-width: 768px) {
      display: block;
      margin: 20px 0;
    }
    &--disabled {
      cursor: default;
    }
    &-text {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;

      &--disabled {
        color: $gray;
        cursor: default;
      }
    }
  }

  &__input {
    // display: none;
    opacity: 0;
    display: inline-block;
    width: 0;
    height: 0;
  }
}

@keyframes radio-ripple {
  from {
    opacity: 1;
  }
  40% {
    transform: scale(1);
    opacity: 0.2;
  }
  90% {
    transform: scale(1);
    opacity: 0.05;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
