.tile-list {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  margin: 15px;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  &__title {
    padding: 10px;
    border-bottom: 1px solid #A1A1A1;
  }

  &__content {
    padding: 10px
  }
}
