<div class="calendar">
  <div class="calendar__input" (click)="toggleCalendarVisibility()">
    <input type="text" name="{{name}}" class="calendar__input-text" [value]="value|date:'yyyy/MM/dd (EEE)'" disabled>
    <span class="calendar__toggle-button">
      <i class="fa fa-calendar"></i>
    </span>
  </div>
  <div class="calendar__body" [hidden]="!calendarVisibility">
    <table class="calendar__table">
      <colgroup class="calendar__date--sunday"></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup class="calendar__date--saturday"></colgroup>
      <thead>
        <tr>
          <td (click)="move(-1)" class="calendar__arrow" style="background:#FFFFFF">
            <div class="triangle--left"></div>
          </td>
          <td colspan="5" style="text-align:center">{{target|date:'MMM yyyy'}}</td>
          <td (click)="move(1)" class="calendar__arrow" style="background:#FFFFFF">
            <div class="triangle--right"></div>
          </td>
        </tr>
        <tr>
          <td class="calendar__day calendar__day--sun">Sun</td>
          <td class="calendar__day">Mon</td>
          <td class="calendar__day">Tue</td>
          <td class="calendar__day">Wed</td>
          <td class="calendar__day">Thu</td>
          <td class="calendar__day">Fri</td>
          <td class="calendar__day calendar__day--sat">Sat</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let date of week" class="calendar__date" (click)="change(date.model)" [class.calendar__date--today]="isToday(date.model)" [class.calendar__date--selected]="isSelected(date.model)">
            {{date.label}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
