<div class="fr-date-picker">
  <div class="fr-date-picker__input" (click)="toggleCalendarVisibility()">
    <input type="text" name="{{name}}" class="fr-date-picker__input-text" [value]="value|date:'yyyy/MM/dd (EEE)'" disabled>
    <span class="fr-date-picker__toggle-button">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="4" width="18" height="18" style="fill: rgba(0, 0, 0, 0.541176);" rx="2" ry="2"/>
        <rect x="5" y="9.004" width="14" height="10.996" style="fill: rgb(255, 255, 255);"/>
        <rect x="6" y="2" width="2" height="2" style="fill: rgba(0, 0, 0, 0.541176);"/>
        <rect x="16" y="2" width="2" height="2" style="fill: rgba(0, 0, 0, 0.541176);"/>
        <rect x="7" y="11" width="3" height="3" style="fill: rgba(0, 0, 0, 0.541176);"/>
      </svg>
    </span>
  </div>
  <div class="fr-date-picker__body" [hidden]="!calendarVisibility">
    <div class="fr-date-picker__body-header">
      <div class="fr-date-picker__body-header-year">
        {{value|date: 'yyyy'}}
      </div>
      <div class="fr-date-picker__body-header-date">
        {{value|date: 'EEE, MMM d'}}
      </div>
    </div>
    <table class="fr-date-picker__table">
      <colgroup class="fr-date-picker__date--sunday"></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup class="fr-date-picker__date--saturday"></colgroup>
      <thead>
        <tr>
          <td (click)="move(-1)" class="fr-date-picker__arrow" style="background:#FFFFFF">
            <div class="fr-triangle--left"></div>
          </td>
          <td colspan="5" style="text-align:center">{{target|date:'MMM yyyy'}}</td>
          <td (click)="move(1)" class="fr-date-picker__arrow" style="background:#FFFFFF">
            <div class="fr-triangle--right"></div>
          </td>
        </tr>
        <tr>
          <td class="fr-date-picker__day fr-date-picker__day--sun">Sun</td>
          <td class="fr-date-picker__day">Mon</td>
          <td class="fr-date-picker__day">Tue</td>
          <td class="fr-date-picker__day">Wed</td>
          <td class="fr-date-picker__day">Thu</td>
          <td class="fr-date-picker__day">Fri</td>
          <td class="fr-date-picker__day fr-date-picker__day--sat">Sat</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let date of week" class="fr-date-picker__date"
            (click)="changeDate(date)"
            [class.fr-date-picker__date--today]="isToday(date)"
            [class.fr-date-picker__date--outofmonth]="isOutOfMonth(date)"
            [class.fr-date-picker__date--selected]="isSelected(date)">
            {{date | date: 'd'}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="fr-date-picker__body-footer">
      <button type="button" class="fr-btn fr-btn-flat fr-date-picker__button--secondary" (click)="cancel()">CANCEL</button>
      <button type="button" class="fr-btn fr-btn-flat fr-date-picker__button--primary" (click)="commit()">OK</button>
    </div>
  </div>
</div>
