<div class="fr-calendar">
  <div class="fr-calendar__input" (click)="toggleCalendarVisibility()">
    <input type="text" name="{{name}}" class="fr-calendar__input-text" [value]="value|date:'yyyy/MM/dd (EEE)'" disabled>
    <span class="fr-calendar__toggle-button">
      <i class="fa fa-calendar"></i>
    </span>
  </div>
  <div class="fr-calendar__body" [hidden]="!calendarVisibility">
    <table class="fr-calendar__table">
      <colgroup class="fr-calendar__date--sunday"></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup></colgroup>
      <colgroup class="fr-calendar__date--saturday"></colgroup>
      <thead>
        <tr>
          <td (click)="move(-1)" class="fr-calendar__arrow" style="background:#FFFFFF">
            <div class="fr-triangle--left"></div>
          </td>
          <td colspan="5" style="text-align:center">{{target|date:'MMM yyyy'}}</td>
          <td (click)="move(1)" class="fr-calendar__arrow" style="background:#FFFFFF">
            <div class="fr-triangle--right"></div>
          </td>
        </tr>
        <tr>
          <td class="fr-calendar__day fr-calendar__day--sun">Sun</td>
          <td class="fr-calendar__day">Mon</td>
          <td class="fr-calendar__day">Tue</td>
          <td class="fr-calendar__day">Wed</td>
          <td class="fr-calendar__day">Thu</td>
          <td class="fr-calendar__day">Fri</td>
          <td class="fr-calendar__day fr-calendar__day--sat">Sat</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let date of week" class="fr-calendar__date"
            (click)="changeDate(date.model)"
            [class.fr-calendar__date--today]="isToday(date.model)"
            [class.fr-calendar__date--selected]="isSelected(date.model)">
            {{date.label}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="fr-calendar__body-footer">
      <button type="button" class="fr-btn fr-btn-flat" (click)="cancel()">CANCEL</button>
      <button type="button" class="fr-btn fr-btn-flat" (click)="commit()">OK</button>
    </div>
  </div>
</div>
