<div class="fr-select">
  <input type="hidden" [(value)]="value" name="{{name}}">
  <input type="text"
    class="fr-select__text"
    value="{{label}}"
    placeholder="{{placeholder}}"
    (click)="optionsVisibility = !optionsVisibility">
  <ul class="fr-select__list" [hidden]="!optionsVisibility">
    <li *ngFor="let option of _options; trackBy: $index"
      class="fr-select__item"
      [class.fr-select__item--selected]="isSelected(option)"
      (click)="select(option)">
      {{option.label}}
    </li>
  </ul>
</div>
