<div class="fr-select">
  <input type="hidden" [(value)]="value" name="{{name}}">
  <label class="fr-input-text__label" [@labelState]="state">
    {{placeholder}}
  </label>
  <span class="fr-select__text" (click)="toggleOptionsVisiblity()">
    {{label}}
  </span>
  <ul class="fr-select__list" [hidden]="!optionsVisibility">
    <li *ngFor="let option of _options; trackBy: $index"
      class="fr-select__item"
      [class.fr-select__item--selected]="isSelected(option)"
      (click)="select(option)">
      {{option.label}}
    </li>
  </ul>
</div>
