<fr-navbar>
  <fr-navbar-logo link="" title="Francette"></fr-navbar-logo>
  <fr-navbar-item link="" title="nav"></fr-navbar-item>
  <fr-navbar-item link="" title="nav-menu">
    <fr-navbar-menu link="" title="nav-menu-1"></fr-navbar-menu>
    <fr-navbar-menu link="" title="nav-menu-2"></fr-navbar-menu>
    <fr-navbar-menu link="" title="nav-menu-3"></fr-navbar-menu>
  </fr-navbar-item>
  <fr-side-nav>
    <fr-side-nav-item-group title="components">
      <fr-side-nav-item label="buttons" link="buttons"></fr-side-nav-item>
      <fr-side-nav-item label="chips" link="chips"></fr-side-nav-item>
      <fr-side-nav-item label="data-table" link="data-table"></fr-side-nav-item>
      <fr-side-nav-item label="forms" link="forms"></fr-side-nav-item>
      <fr-side-nav-item label="tabs" link="tabs"></fr-side-nav-item>
      <fr-side-nav-item label="kpi-table" link="kpi-table"></fr-side-nav-item>
    </fr-side-nav-item-group>
  </fr-side-nav>
</fr-navbar>

<div style="margin: 24px">
  <router-outlet></router-outlet>
</div>
