<fr-navbar>
  <fr-navbar-item>
    <a routerLink="/" routerLinkActive="fr-navbar__item--active">Francette</a>
  </fr-navbar-item>
  <fr-navbar-item>
    <a routerLink="buttons" routerLinkActive="fr-navbar__item--active">Buttons</a>
  </fr-navbar-item>
  <fr-navbar-menu title="nav-menu-1">
    <fr-navbar-menu-item>
      <a routerLink="buttons">buttons</a>
    </fr-navbar-menu-item>
    <fr-navbar-menu-item>menu-item2</fr-navbar-menu-item>
    <fr-navbar-menu-item>menu-item3</fr-navbar-menu-item>
  </fr-navbar-menu>
  <fr-navbar-right-item>onRight</fr-navbar-right-item>
  <fr-side-nav>
    <fr-side-nav-item-group title="components" collapsible="true">
      <fr-side-nav-item label="buttons" link="buttons"></fr-side-nav-item>
      <fr-side-nav-item label="chips" link="chips"></fr-side-nav-item>
      <fr-side-nav-item label="data-table" link="data-table"></fr-side-nav-item>
      <fr-side-nav-item label="dialog" link="dialog"></fr-side-nav-item>
      <fr-side-nav-item label="forms" link="forms"></fr-side-nav-item>
      <fr-side-nav-item label="progress" link="progress"></fr-side-nav-item>
      <fr-side-nav-item label="switch" link="switch"></fr-side-nav-item>
      <fr-side-nav-item label="tabs" link="tabs"></fr-side-nav-item>
      <fr-side-nav-item label="toaster" link="toaster"></fr-side-nav-item>
      <fr-side-nav-item label="kpi-table" link="kpi-table"></fr-side-nav-item>
    </fr-side-nav-item-group>
  </fr-side-nav>
</fr-navbar>

<div style="margin: 60px 24px 0 24px">
  <router-outlet></router-outlet>
</div>
