<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <table>
    <tr>
      <td>
        <fr-input-file [multiple]="true" [accept]="'image/*,video/*'" [dropArea]="true" (change)="onFileChange($event)" formControlName="file"></fr-input-file>
      </td>
    </tr>
    <tr>
      <td>
        <fr-input-text-container>
          <input frInput type="text" placeholder="text" [formControl]="formGroup.controls['text']">
        </fr-input-text-container>
      </td>
    </tr>
    <tr>
      <td>
        <fr-select [placeholder]="'select'" [browserNative]="false" (change)="onSelectChange($event)" formControlName="select">
          <fr-option *ngFor="let option of options" [value]="option.value" [label]="option.label"></fr-option>
        </fr-select>
      </td>
    </tr>
    <tr>
      <td>
        <fr-form-group label="radio">
          <fr-radio-group formControlName="radio" (change)="onRadioChange($event)">
            <fr-radio *ngFor="let radio of radios" [value]="radio.value">{{radio.label}}</fr-radio>
          </fr-radio-group>
        </fr-form-group>
      </td>
    </tr>
    <tr>
      <td>
        <fr-form-group label="checkbox">
          <fr-checkbox *ngFor="let checkbox of formGroup.controls['checkboxes']['controls']; let i = index" [formControl]="checkbox"
            [indeterminate]="checkboxes[i].indeterminate"
            (change)="onCheckboxChange($event)">
            {{checkboxes[i]['name']}}
          </fr-checkbox>
        </fr-form-group>
      </td>
    </tr>
    <tr>
      <td>
        <fr-form-group label="switch">
          <fr-switch [labels]="{ on: 'On', off: 'Off' }" formControlName="switch"></fr-switch>
        </fr-form-group>
      </td>
    </tr>
    <tr>
      <td>
        <fr-form-group label="date-time">
          <fr-date-picker formControlName="date" (change)="onDatePickerChange($event)"></fr-date-picker>
          <fr-time-picker formControlName="date" (change)="onTimePickerChange($event)"></fr-time-picker>
        </fr-form-group>
      </td>
    </tr>
    <tr>
      <td>
        <fr-input-text-container>
          <textarea frInput placeholder="TextArea" maxLength="10" formControlName="textArea"></textarea>
        </fr-input-text-container>
      </td>
    </tr>
    <tr>
      <td>
        <div class="buttons">
          <button type="submit" class="fr-btn-skeleton--primary" frRipple>submit</button>
          <button type="button" class="fr-btn-skeleton--danger" (click)="resetFormGroup()" frRipple>reset</button>
        </div>
      </td>
    </tr>
    </table>
    </form>
