<nav class="fr-navbar">
  <ul class="fr-navbar__items">
    <li *ngIf="sideNav" class="fr-navbar__menu-icon" (click)="toggleSideNav()">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="4" width="18" height="3" style=""/>
        <rect x="3" y="10" width="18" height="3" style=""/>
        <rect x="3" y="16" width="18" height="3" style=""/>
      </svg>
    </li>
    <li *ngFor="let logo of logos" class="fr-navbar__logo">
      <a class="fr-navbar__label" [routerLink]="logo.url">{{logo.title}}</a>
    </li>
    <li *ngFor="let item of items; let i = index"
      class="fr-navbar__item"
      routerLinkActive="fr-navbar__item--active">
      <a class="fr-navbar__label" [routerLink]="item.url">{{item.title}}</a>
      <ul class="fr-navbar__menu" *ngIf="item.children">
        <li *ngFor="let child of item.children" class="fr-navbar__menu-item">
          <a class="fr-navbar__label" [routerLink]="child.url">{{child.title}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ng-content select="fr-side-nav"></ng-content>
</nav>
