<nav class="fr-navbar">
  <ul class="fr-navbar__items">
    <li *ngIf="sideNav" class="fr-navbar__menu-icon" (click)="toggleSideNav()">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="4" width="18" height="3" style=""/>
        <rect x="3" y="10" width="18" height="3" style=""/>
        <rect x="3" y="16" width="18" height="3" style=""/>
      </svg>
    </li>
    <li *ngFor="let logo of logos" class="fr-navbar__logo">
      <a class="fr-navbar__label" [routerLink]="logo.link">{{logo.title}}</a>
    </li>
    <ng-content select="fr-navbar-item,fr-navbar-menu"></ng-content>

    <div class="fr-navbar__space"></div>

    <ng-content select="fr-navbar-right-item"></ng-content>

    <!--
    <li *ngFor="let item of filterNavItem(items); let i = index"
      class="fr-navbar__item"
      routerLinkActive="fr-navbar__item--active">
      <a class="fr-navbar__label" [routerLink]="item.link">{{item.title}}</a>
      <ul class="fr-navbar__menu">
        <li *ngFor="let menu of item.menus" class="fr-navbar__menu-item">
          <a class="fr-navbar__label" [routerLink]="menu.link">{{menu.title}}</a>
        </li>
      </ul>
    </li>
    <li *ngFor="let item of filterRightNavItem(items); let i = index"
      class="fr-navbar__item"
      [class.fr-navbar__on-right-first]="i === 0"
      routerLinkActive="fr-navbar__item--active">
      <a class="fr-navbar__label" [routerLink]="item.link">{{item.title}}</a>
      <ul class="fr-navbar__menu">
        <li *ngFor="let menu of item.menus" class="fr-navbar__menu-item">
          <a class="fr-navbar__label" [routerLink]="menu.link">{{menu.title}}</a>
        </li>
      </ul>
    </li>
    -->
  </ul>
  <ng-content select="fr-side-nav"></ng-content>
</nav>
