<fr-navbar>
  <fr-navbar-logo link="/" title="Francette"></fr-navbar-logo>
  <fr-navbar-item link="/nav1" title="nav1"></fr-navbar-item>
  <fr-navbar-item link="/nav2" title="nav2"></fr-navbar-item>
  <fr-navbar-item link="/nav3" title="nav3"></fr-navbar-item>
  <fr-navbar-item link="/nav4" title="nav-menu">
    <fr-navbar-menu link="/nav4/1" title="nav4-1"></fr-navbar-menu>
    <fr-navbar-menu link="/nav4/2" title="nav4-2"></fr-navbar-menu>
    <fr-navbar-menu link="/nav4/3" title="nav4-3"></fr-navbar-menu>
  </fr-navbar-item>
</fr-navbar>

<fr-tabs [(selectedIndex)]="selectedIndex">
  <fr-tab title="chips">
    <div>
      <fr-chip *ngFor="let chip of chips; let i = index" (dismiss)="removeChip(i)">
        {{chip.label}}
      </fr-chip>
      <fr-chip on="true">readOnly</fr-chip>
    </div>
  </fr-tab>
  <fr-tab title="forms">
    <form (ngSubmit)="onSubmit(formValue.value)" #formValue="ngForm">
      <table style="width:80%;margin:15px auto">
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">fr-input-text</td>
          <td>
            <fr-input-text name="text" placeholder="text" [(ngModel)]="form.text"></fr-input-text>
          </td>
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">select</td>
          <td>
            <fr-select [(ngModel)]="form.select" name="sampleSelect">
              <fr-option *ngFor="let option of options; let i = index; trackBy index" [value]="option.value" label="{{option.label}}"></fr-option>
              <fr-option value="123" label="label123"></fr-option>
              <fr-option value="987" label="label987"></fr-option>
            </fr-select>
          </td>
          <!--
          <td>
            <button type="button" class="btn" (click)="resetSelect()">resetSelect()</button>
          </td>
          -->
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">radio</td>
          <td>
            <fr-radio-group name="testRadio" [(ngModel)]="form.radio">
              <fr-radio value="1" label="radio1"></fr-radio>
              <fr-radio value="2" label="radio2"></fr-radio>
              <fr-radio *ngFor="let selectValue of selectValues" [value]="selectValue" label="{{selectValue.value}}"></fr-radio>
            </fr-radio-group>
          </td>
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">checkbox</td>
          <td>
            <fr-checkbox label="checkbox1" [(ngModel)]="form.checkbox[0]" name="checkbox1">checkbox1</fr-checkbox>
            <fr-checkbox label="checkbox1" [(ngModel)]="form.checkbox[1]" name="checkbox2">checkbox2</fr-checkbox>
            <fr-checkbox label="checkbox1" name="checkbox3" ngModel>checkbox3</fr-checkbox>
            <fr-checkbox label="checkbox1" name="checkbox4" ngModel>checkbox4</fr-checkbox>
            <fr-checkbox *ngFor="let chk of chks; let i = index" name="{{chk.name}}" [(ngModel)]="form.checkbox[i+2]">{{chk.label}}</fr-checkbox>
          </td>
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">date picker</td>
          <td>
            <fr-date-picker name="calendar" [(ngModel)]="form.date"></fr-date-picker>
          </td>
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">time picker</td>
          <td>
            <fr-time-picker name="time" [(ngModel)]="form.date"></fr-time-picker>
          </td>
        </tr>
        <tr style="height:50px">
          <td style="width:25%;text-align:right;padding-right:15px">text area</td>
          <td>
            <textarea class="fr-form__textarea" name="textarea" [(ngModel)]="form.textarea"></textarea>
          </td>
        </tr>
        <tr style="height:50px">
          <td>
            <button class="fr-btn-skeleton--primary" (click)="submit()" style="margin: auto 50%" frRipple>submit</button>
          </td>
          <td>
            <button class="fr-btn-skeleton--danger" (click)="reset()" style="margin: auto 50%" [frRipple]="'#EAEAEA'">reset</button>
          </td>
        </tr>
      </table>
    </form>
    <pre>
      {{form|json}}
    </pre>
  </fr-tab>
  <fr-tab title="kpi-table">
    <fr-kpi-table [data]="data"></fr-kpi-table>
  </fr-tab>
  <fr-tab title="buttons">
    <h2>Buttons</h2>
    <button frRipple class="fr-btn">button</button>
    <button frRipple class="fr-btn--primary" frRipple>primary</button>
    <button frRipple class="fr-btn--info">info</button>
    <button frRipple class="fr-btn--warning">warning</button>
    <button frRipple class="fr-btn--danger">danger</button>
    <button frRipple class="fr-btn--default">default</button>
    <button frRipple class="fr-btn--disabled" disabled>disabled</button>
    <div></div>
    <button frRipple class="fr-btn-fab">&nbsp;</button>
    <button frRipple class="fr-btn-fab--primary">+</button>
    <button frRipple class="fr-btn-fab--info">+</button>
    <button frRipple class="fr-btn-fab--warning">-</button>
    <button frRipple class="fr-btn-fab--danger">-</button>
    <button frRipple class="fr-btn-fab--default">*</button>
    <button frRipple class="fr-btn-fab--disabled" disabled>-</button>
    <div></div>
    <button frRipple class="fr-btn-skeleton">skeleton</button>
    <button frRipple class="fr-btn-skeleton--primary">primary</button>
    <button frRipple class="fr-btn-skeleton--info">info</button>
    <button frRipple class="fr-btn-skeleton--warning">warning</button>
    <button frRipple class="fr-btn-skeleton--danger">danger</button>
    <button frRipple class="fr-btn-skeleton--default">default</button>
    <button frRipple class="fr-btn-skeleton--disabled" disabled>disabled</button>
    <div></div>
    <button class="fr-btn-flat" [frRipple]="'#CCC'">flat</button>
    <div style="margin:15px">
      <span style="margin:15px">
        <button class="fr-btn fr-btn-skeleton" frRipple>default</button>
        <button class="fr-btn--primary" [frRipple]="'white'">primary</button>
      </span>
    </div>
  </fr-tab>
  <fr-tab title="router-outlets">
    <router-outlet></router-outlet>
  </fr-tab>
</fr-tabs>

