<input type="hidden" [value]="value">
<table class="timepicker">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td class="timepicker__arrow" (click)="_addHour()">
        <i class="fa fa-chevron-up"></i>
      </td>
      <td></td>
      <td class="timepicker__arrow" (click)="_addMinute()">
        <i class="fa fa-chevron-up"></i>
      </td>
      <td></td>
      <td class="timepicker__arrow" (click)="_addSecond()" [class.timepicker__second--none]="!showSeconds">
        <i class="fa fa-chevron-up"></i>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="timepicker__input" [value]="_model.hour" (change)="_change()">
      </td>
      <td style="text-align:center">:</td>
      <td>
        <input type="text" class="timepicker__input" [value]="_model.minute" (change)="_change()">
      </td>
      <td style="text-align:center" [class.timepicker__second--none]="!showSeconds">:</td>
      <td>
        <input type="text" class="timepicker__input" [value]="_model.second" (change)="_change()" [class.timepicker__second--none]="!showSeconds">
      </td>
      <td>
        <button type="button" class="timepicker__reset-button" (click)="_resetModel()">Reset</button>
      </td>
    </tr>
    <tr>
      <td class="timepicker__arrow" (click)="_subHour()">
        <i class="fa fa-chevron-down"></i>
      </td>
      <td></td>
      <td class="timepicker__arrow" (click)="_subMinute()">
        <i class="fa fa-chevron-down"></i>
      </td>
      <td></td>
      <td class="timepicker__arrow" (click)="_subSecond()" [class.timepicker__second--none]="!showSeconds">
        <i class="fa fa-chevron-down"></i>
      </td>
    </tr>
  </tbody>
</table>
