$base03:    #002B36;
$base02:    #073642;
$base01:    #586E75;
$base00:    #657B83;
$base0:     #839496;
$base1:     #93A1A1;
$base2:     #EEE8D5;
$base3:     #FDF6E3;
$yellow:    #FF8F00;
$orange:    #CB4B16;
$red:       #F44336;
$magenta:   #D33682;
$violet:    #6C71C4;
$blue:      #3F51B5;
$cyan:      #2AA198;
$green:     #8BC34A;
$indigo:    #7986CB;
$white:     #FFFFFF;
$black:     #000000;
$gray:      #A1A1A1;
$light-gray: #CCCCCC;

$error: #FF5722;

$primary: #352838;
$primary-dark: #100012;
$primary-light: #5f5062;

$secondary: #d04b63;
$secondary-dark: #9a1139;
$secondary-light: #ff7d90;

$text-on-primary: #fcfaf2;
$text-on-secondary: #fcfaf2;

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
