/*********************************
 * Base button style
 *********************************/
.fr-btn {
  outline: none;
  margin: 5px;
  padding: 0 16px;
  min-height: 36px;
  min-width: 88px;
  font-size: 14px;
  font-weight: 300;
  background: $white;
  color: $base02;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  text-transform: uppercase;

  &:hover {
    background: darken($white, 5%);
    cursor: pointer;
  }
}

.fr-btn-flat {
  @extend .fr-btn;
  background: transparent;
  border: none;
  box-shadow: none;

  &:hover {
    background: $light-gray;
  }
}

/*********************************
 * Custom buttons
 *********************************/
@mixin custom_button($background, $color, $hover_background) {
  @extend .fr-btn;
  background: $background;
  color: $color;

  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-out;

  &:hover {
    background: $hover_background;
  }

  &:active {
    box-shadow: 0 5px 12px 1px rgba(0,0,0,.44);
  }
}

.fr-btn--default {
  @include custom_button($white, $base03, darken($white, 5%));
}

.fr-btn--primary {
  @include custom_button($primary, $white, $primary-light);
}

.fr-btn--secondary {
  @include custom_button($secondary, $white, $secondary-light);
}

.fr-btn--info {
  @include custom_button($green, $white, lighten($green, 5%));
}

.fr-btn--warning {
  @include custom_button($yellow, $white, lighten($yellow, 5%));
}

.fr-btn--danger {
  @include custom_button($red, $white, lighten($red, 5%));
}

.fr-btn--disabled {
  @include custom_button($base0, $base02, $base0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  &:hover {
    cursor: no-drop;
  }
}

/*********************************
 * Skeleton buttons
 *********************************/
@mixin skeleton($border_color, $color, $hover_background, $hover_color) {
  @extend .fr-btn;
  border: 1px solid $border_color;
  color: $color;
  box-shadow: none;
  background: $white;
  &:hover {
    background: $hover_background;
    color: $hover_color;
  }
}

.fr-btn-skeleton{
  @include skeleton($gray, $gray, $gray, $white);
}

.fr-btn-skeleton--default {
  @include skeleton($gray, $base02, $gray, $white);
}

.fr-btn-skeleton--primary {
  @include skeleton($primary, $primary, $primary-light, $white);
}

.fr-btn-skeleton--secondary {
  @include skeleton($secondary, $secondary, $secondary-light, $white);
}

.fr-btn-skeleton--info {
  @include skeleton($green, $green, lighten($green, 5%), $white);
}

.fr-btn-skeleton--warning {
  @include skeleton($yellow, $yellow, lighten($yellow, 5%), $white);
}

.fr-btn-skeleton--danger {
  @include skeleton($red, $red, lighten($red, 5%), $white);
}

.fr-btn-skeleton--disabled {
  @include skeleton($gray, $gray, $white, $white);
  &:hover {
    color: $gray;
    background: $white;
    cursor: no-drop;
  }
}

.fr-btngroup {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;

  .fr-btn {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

/*********************************
 * FAB buttons
 *********************************/
.fr-btn-fab {
  outline: none;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-size: 12pt;
  background: $white;
  color: $base02;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

  &:hover {
    background: darken($white, 5%);
    cursor: pointer;
  }
}

@mixin custom_fab_button($background, $color, $hover_background) {
  @extend .fr-btn-fab;
  background: $background;
  color: $color;

  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-out;

  &:hover {
    background: $hover_background;
  }

  &:active {
    box-shadow: 0 5px 12px 1px rgba(0,0,0,.44);
  }
}

.fr-btn-fab--primary {
  @include custom_fab_button($primary, $white, $primary-light);
}

.fr-btn-fab--secondary {
  @include custom_fab_button($secondary, $white, $secondary-light);
}

.fr-btn-fab--default {
  @include custom_fab_button($white, $base03, darken($white, 5%));
}

.fr-btn-fab--info {
  @include custom_fab_button($green, $white, lighten($green, 5%));
}

.fr-btn-fab--warning {
  @include custom_fab_button($yellow, $white, lighten($yellow, 5%));
}

.fr-btn-fab--danger {
  @include custom_fab_button($red, $white, lighten($red, 5%));
}

.fr-btn-fab--disabled {
  @include custom_fab_button($base0, $base02, $base0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  &:hover {
    background: $base0;
    cursor: no-drop;
  }
}
