.fr-panel {
  margin: 15px;
  border: 1px solid $base1;
  border-left: 5px solid $base1;
  border-radius: 3px;

  &__header {
    border-bottom: 1px solid $base1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    color: $base1;
    font-size: 18pt;
  }

  &__content {
    padding: 15px;
  }
}

.fr-panel--info {
  @extend .fr-panel;

  border: 1px solid $green;
  border-left: 5px solid $green;

  >.fr-panel__header {
    border-bottom: 1px solid $green;
    color: $green;
  }
}

.fr-panel--warning {
  @extend .fr-panel;

  border: 1px solid $yellow;
  border-left: 5px solid $yellow;

  >.fr-panel__header {
    border-bottom: 1px solid $yellow;
    color: $yellow;
  }
}

.fr-panel--error {
  @extend .fr-panel;

  border: 1px solid $red;
  border-left: 5px solid $red;

  >.fr-panel__header {
    border-bottom: 1px solid $red;
    color: $red;
  }
}
