.fr-table {
  width: 95%;
  margin: 15px;
  border-collapse: collapse;

  &__head {
    padding: 5px;
  }

  &__row {
    border-bottom: 1px solid $base1;

    &--even, &--odd {
      background: lighten($light-gray, 15%);
    }
  }

  &__body {
  }

  &__value {
    padding: 5px;
    text-align: center;
  }
}

.fr-kpi-table {
  margin: 15px;
  border-collapse: collapse;

  &__column {
    &--sunday {
      background: #FFE4E4;
    }

    &--saturday {
      background: #DFF2FF;
    }

    &--holiday {
      background: #FFC0CB;
    }
  }

  &__head {
    padding: 5px;
    border: 1px solid $gray;
    font-size: 10pt;
    background: $primary-light;
    color: $white;
    font-weight: 100;
  }

  &__row {
    border: 1px solid $base1;
  }

  &__body {
  }

  &__value {
    padding: 3px;
    width: 60px;
    text-align: center;
    border: 1px solid $gray;
    font-size: 10pt;
  }
}
