.fr-tooltip {
  position: relative;

  &__content {
    position: absolute;
    display: inline-block;
    padding: 0 8px;
    background: $gray;
    border-radius: 2px;
    color: $white;
    line-height: 22px;
    font-size: 10pt;
    z-index: 1001;
    visibility: hidden;
  }

  &__content--above {
    visibility: visible;
    left: 0;
    bottom: 105%;
    transform: scale(1);
  }
  &__content--right {
    visibility: visible;
    top: 0;
    left: 105%;
    transform: scale(1);
  }
  &__content--below {
    visibility: visible;
    top: 105%;
    left: 0;
    transform: scale(1);
  }
  &__content--left {
    visibility: visible;
    top: 0;
    right: 105%;
    transform: scale(1);
  }
}
