@import './themes/japanesque';
@import './buttons';
@import './kpi-dashboard';
@import './ripple';
@import './table';
@import './toaster';
@import './tooltip';

body {
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
button, input, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.fr-checkbox-host {
  display: inline-flex;
  @media all and (max-width: 768px) {
    display: flex;
    margin: 20px 0;
  }
}
.fr-chip-host { display: inline-block; }
.fr-data-table-host { display: block; }
.fr-date-picker-host { display: inline-block; }
.fr-input-text-container-host { display: block; }
.fr-input-text {
  & > input::placeholder {
    opacity: 0;
  }
  & > textarea::placeholder {
    opacity: 0;
  }
}
.fr-progress-spinner-host { display: inline-block; }
.fr-progress-bar-host { display: block; }
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.fr-radio-host {
  display: inline-block;
  @media all and (max-width: 768px) {
    display: flex;
    margin: 20px 0;
  }
}
.fr-select-host { display: block; }
.fr-switch-host { display: inline-block; }
.fr-tab {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &--active {
    position: relative;
  }
  &--inactive {
    pointer-events: none;
  }
}
.fr-timepicker-host { display: inline-block; }

