<label class="fr-checkbox">
  <span class="fr-checkbox__square" [class.fr-checkbox__square--checked]="value">
    <svg class="fr-checkbox-checkmark"
      [class.fr-checkbox-checkmark--on]="value"
      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path class="fr-checkbox-checkmark-path" d="M 21.921 6.06 L 10.097 18.581 L 2.99 12.124" style="fill: none;"/>
    </svg>
  </span>
  <span class="fr-checkbox-ripple" [class.fr-checkbox-ripple--on]="isRippleOn"></span>
  <input #input type="checkbox"
         name="{{name}}"
         class="fr-checkbox__input"
         (click)="onClick()">
  <span class="fr-checkbox-label-text">
    <ng-content></ng-content>
  </span>
</label>
