<label class="fr-checkbox" [class.fr-checkbox--disabled]="disabled">
  <div class="fr-checkbox-box-container">
    <span class="fr-checkbox__square"
      [class.fr-checkbox__square--checked]="value"
      [class.fr-checkbox__square--focused]="isFocused"
      [class.fr-checkbox__square--disabled]="disabled">
    </span>
    <span class="fr-checkbox__background"
      [class.fr-checkbox__background--checked]="value"
      [class.fr-checkbox__background--disabled]="disabled">
      <svg class="fr-checkbox-checkmark"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path class="fr-checkbox-checkmark-path"
          [@checkmarkState]="checkmarkState"
          d="M 22 5 L 9.508 19 L 2 11.78" style="fill: none;"/>
      </svg>
    </span>
    <span class="fr-checkbox__ripple-container">
      <span [class.fr-checkbox-ripple]="isRippleOn"></span>
    </span>
  </div>
  <input #input type="checkbox"
         name="{{name}}"
         class="fr-checkbox__input"
         (click)="onClick($event)"
         (change)="onchange($event)"
         (focus)="onFocus($event)"
         (blur)="onBlur($event)"
         [disabled]="disabled">
  <span class="fr-checkbox-label-text" [class.fr-checkbox-label-text--disabled]="disabled">
    <ng-content></ng-content>
  </span>
</label>
