@import '../../../styles/themes/japanesque.scss';

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.fr-checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  &--disabled {
    cursor: default;
    & .fr-checkbox__square {
      border: 2px solid $gray;
    }
    & .fr-checkbox__background--checked {
      background: $gray;
    }
  }

  &-box-container {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px
  }

  &__square {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 2px;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    transition-property: background;
    transition-duration: 0.3s;
    &--checked, &--indeterminate {
      color: $white;
      background: $secondary;
      border: 2px solid $secondary;
    }
    &--focused {
      border-color: $secondary-light;
    }
  }
  &__background {
    box-sizing: border-box;
    display: inline-flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    border-radius: 2px;
    &--checked, &--indeterminate {
      background: $secondary;
    }
  }
  &__ripple-container {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -15px;
  }
  &-ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $secondary-light;
    opacity: 0.3;
    border-radius: 50%;
    animation: checkbox-ripple 0.8s ease-out;
    transform: scale(0);
  }
  &__input {
    // display: none;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
  }
  &-checkmark {
    width: 100%;
    height: 100%;
  }
  &-indeterminate-path {
    fill: none;
    stroke: $white;
    stroke-width: 2px;
  }
  &-label-text {
    margin: 0 8px;
    &--disabled {
      color: $gray;
      cursor: default;
    }
  }
}

@keyframes checkbox-ripple {
  from {
    opacity: 1;
  }
  40% {
    transform: scale(1);
    opacity: 0.2;
  }
  90% {
    transform: scale(1);
    opacity: 0.05;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
