/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
button, input, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

@import './styles/themes/japanesque';
@import './styles/alerts';
@import './styles/buttons';
@import './styles/grid';
@import './styles/navbar';
@import './styles/list';
@import './styles/panel';
@import './styles/table';
@import './styles/kpi-dashboard';
@import './styles/tabs';
@import './styles/radio';
@import './styles/tile';
@import './styles/timepicker';
@import './styles/steps';
@import './styles/ripple';
@import './styles/chips';
@import './styles/select';
@import './styles/input-text';
@import './styles/data-table';
@import './styles/textbox';
@import './styles/checkbox';
@import './styles/date-picker';
@import './styles/side-nav';
@import './styles/form-group';
@import './styles/input-container';
@import './styles/switch';
@import './styles/dialog';
@import './styles/toaster';
@import './styles/tooltip';
@import './styles/progress';
@import './styles/input-file';
