<table class="fr-kpi-table">
  <colgroup></colgroup>
  <colgroup *ngFor="let date of data.dateList"
    class="fr-kpi-table_column"
    [class.fr-kpi-table__column--sunday]="isSunday(date)"
    [class.fr-kpi-table__column--saturday]="isSaturday(date)"
  ></colgroup>
  <thead class="fr-kpi-table__head">
    <tr>
      <th class="fr-kpi-table__head kpi-table__row-name"></th>
      <th class="fr-kpi-table__head" *ngFor="let date of data.dateList">
        {{objectDate2MonthDate(date)}}
      </th>
    </tr>
  </thead>
  <tbody class="fr-kpi-table__body">
    <tr *ngFor="let row of data.kpi">
      <td class="fr-kpi-table__value kpi-table__row-name">{{row.name}}</td>
      <td *ngFor="let value of row.values" class="fr-kpi-table__value">{{value}}</td>
    </tr>
  </tbody>
</table>
