<table class="kpi-table">
  <colgroup></colgroup>
  <colgroup *ngFor="let date of data.dateList; let i = index; trackBy:index"
    class="kpi-table_column"
    [class.kpi-table__column--sunday]="isSunday(date)"
    [class.kpi-table__column--saturday]="isSaturday(date)"
  ></colgroup>
  <thead class="kpi-table__head">
    <tr>
      <th class="kpi-table__head kpi-table__row-name"></th>
      <th class="kpi-table__head" *ngFor="let date of data.dateList; let i = index; trackBy:index">
        {{objectDate2MonthDate(date)}}
      </th>
    </tr>
  </thead>
  <tbody class="kpi-table__body">
    <tr *ngFor="let row of data.kpi; let i = index; trackBy:index">
      <td class="kpi-table__value kpi-table__row-name">{{row.name}}</td>
      <td *ngFor="let value of row.values; let j = index; trackBy:index" class="kpi-table__value">{{value}}</td>
    </tr>
  </tbody>
</table>
